*out*
*plots*
*pycache*
*timeloop-mapper*
log.txt
*/tmp/*
commands.txt
*.exe
nest/Solver/device_placement/device_placement
nest/Solver/device_placement/device_placement_MCMC.cpp
gurobi.log
fix_estimation_time.py
model.ilp
nest/Solver/output*/
nest/Solver/device_placement/inputs*/
nest/Solver/solved_models/get_area_thpt.py
nest/Solver/out/*

nest/Estimator/tmp/
nest/Estimator/utils/tmp/

third_party_for_nest/astra-sim/
third_party_for_nest/chakra/
third_party_for_nest/openmpi/

accelergy/
accelergy-cacti-plug-in/
accelergy-library-plug-in/
accelergy-table-based-plug-ins/
apex/

nest/scripts/alpa/results/logs/*
